* {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fff;
    text-align: center;
}

a {
    color: aquamarine;
    
}

video {
   
   
}

h2 {
    color: #fff;
    text-align: center;
}

p {
    color: #fff;
    text-align: center;
}

img {
  
}